
.stack-pane {
    -fx-background-color: #f0f0f0;
}

.text-field {
    -fx-padding: 12;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: #bbb;
    -fx-background-color: white;
    -fx-font-size: 16px;
    -fx-border-width: 1;
    -fx-max-width: 350px;
}


.button {
    -fx-background-color: linear-gradient(to bottom, #6db3f2, #4286f4);
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 15;
    -fx-padding: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 2, 2);
    -fx-cursor: hand;
    -fx-max-width: 200px;
    -fx-max-height: 60px;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #599de6, #3a76d8);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 6, 0, 3, 3);
}
